# General
git+https://github.com/aiogram/aiogram@dev-3.x

# DB
pyarango
redis

# Optional deps to make bot faster
aiohttp[speedups]
cryptg
cryptography
uvloop

# Other
toml
PyYAML
coloredlogs
loguru
magic_filter