[general]
token = '<token>'
api_id = 00000
api_hash = '<api hash>'
owner_id = 000000000
operators = [00000000]

[advanced]
debug = true
uvloop = true
log_file = false

[modules]
load = []
dont_load = []

[mongo]
url =
port =
database = # Name